<div class="card">
    <div class="header">
        <h1 class="title">Hotel Detail</h1>
    </div>
    <div class="content">
    
        <p *ngIf="errors">{{ errors }}</p>
    
        <form *ngIf="hotel">
                
            <div class="form-group">
                <label>Id:</label>
                {{hotel.id || 'n/a'}} 
            </div>
                
            <div class="form-group">
                <label>Name:</label>
                <input [(ngModel)]="hotel.name" name="name" class="form-control">
            </div>
                
            <div class="form-group">
                <label>City:</label>
                <input [(ngModel)]="hotel.city" name="city" class="form-control">
            </div>
                
            <div class="form-group">
                <label>Stars:</label>
                <input [(ngModel)]="hotel.stars" name="stars" class="form-control">
            </div>
        
            <div class="form-group">
                <button
                (click)="save()"
                class="btn btn-default">Save</button>
            </div>

        </form>
    
    </div>
</div>